%html
  %head
    %title Smart Fridge
    
    /Stylesheets
    %link{:rel => "stylesheet", :href => "css/reset.css"}
    %link{:rel => "stylesheet", :href => "css/text.css"}
    %link{:rel => "stylesheet", :href => "css/960_24_col.css"}        
    %link{:rel => "stylesheet", :href => "css/custom-theme/jquery-ui-1.8.18.custom.css"}
    %link{:rel => "stylesheet", :href => "css/jquery.jscrollpane.css"}
    %link{:rel => "stylesheet", :href => "css/layout.css"}
    
    /Javascripts
    %script{:type => 'text/javascript', :src => 'js/jquery-1.7.1.min.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery-ui-1.8.18.custom.min.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery.ba-outside-events.min.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery.carouFredSel-5.5.0-packed.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery.easing.1.3.js'}      
    %script{:type => 'text/javascript', :src => 'js/jquery.mousewheel.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery.jscrollpane.min.js'}            
    %script{:type => 'text/javascript', :src => 'js/dragdrop.js'}
      
    :ruby
       @staple_items = [
        ["Bread", "BREAD.jpg", "out"],
        ["Butter", "BUTTER.jpg", "full"],
        ["Eggs", "EGGS.jpg", "full"],
        ["Milk", "MILK.jpg", "half"],
        ["Cereal", "CEREAL.jpg", "half"],            
        ["Orange Juice", "ORANGE JUICE.jpg", "half"],    
      ]
      
      @shelf_items = [
        ["Chicken", "CHICKEN.jpg", "half"],     
        ["Bacon", "BACON.jpg", "out"],
        ["Broccoli", "BROCCOLI.jpg", "full"],
        ["Banana", "BANANA.jpg", "full"],
        ["Onion", "ONION.jpg", "half"],
        ["Pasta", "PASTA.jpg", "half"],    
        ["Lettuce", "LETTUCE.jpg", "half"],
        ["Honey", "HONEY.jpg", "out"],
        ["Salmon", "SALMON.jpg", "full"],
        ["Rice", "RICE.jpg", "full"],
        ["Potato", "POTATO.jpg", "half"],
        ["Peas", "PEAS.jpg", "half"],    
        ["Strawberry", "STRAWBERRY.jpg", "half"],    
        ["Watermelon", "WATERMELON.jpg", "out"],
        ["Corn", "CORN.jpg", "full"],
        ["Lemon", "LEMON.jpg", "full"],
        ["Yogurt", "YOGURT.jpg", "half"],
        ["Peppers", "PEPPERS.jpg", "half"],    
        ["Carrots", "CARROTS.jpg", "half"],    
      ]
      
  %body

    #main-bare.container_24
      #alert.grid_24.hide
        %span.ui-corner-all.ui-state-highlight
          hi
      .clear
      .spacer_top.grid_24
      /TOP SHELF
      .top_shelf.grid_24
        .nav.grid_2.push_18
          INVENTORY
        .nav.grid_2.push_19
          RECIPES
      .clear
      .spacer_top.grid_24
      
      /MID SHELF
      .grid_24
        .mid_shelf.grid_2.alpha
          #alert_button
          #list_button
        /STAPLE SECTION  
        #staple.mid_shelf.grid_22.omega
          #staple_prev.prev 
          #staple_next.next 
          %ul#staple_list
            - @staple_items.each do |i| 
              %li
                .title 
                  = i[0]
                %img{:src => "img/items/#{i[1]}"}
                .toolbar
                  .anchor 
                    %a{:href => "#", :onclick => "stapleToStorage($(this))"}
                      %span.ui-icon.ui-icon-locked
                  .view
                    %a{:href => "#", :onclick => "openItem()"}
                      %span.ui-icon.ui-icon-zoomin 

      .spacer_bottom.grid_24
                
      /BOTTOM SHELF
      #bottom.grid_24
        /ITEMS
        #shelf.grid_17.push_2.alpha
          %ul#storage
            - @shelf_items.each do |i| 
              %li
                .title
                  = i[0]
                %img{:src => "img/items/#{i[1]}"}
                .toolbar
                  .anchor
                    %a{:href => "#", :onclick => "storageToStaple($(this))"}
                      %span.ui-icon.ui-icon-unlocked
                  .view
                    %a{:href => "#", :onclick => "openItem()"}
                      %span.ui-icon.ui-icon-zoomin
          

        /MENU
        .bottom_shelf.grid_5.push_2.omega
          #menu
            %input#search{:value => "search", :size => "24"}
          #add_button
          #list
          #trash
        
      .clear       
      .spacer_bottom.grid_24   
      .spacer_bottom.grid_24   
      
      .grid_4.push_8
        %a{:href => "#"}
          %img{:src => "img/iphone.png"}
      
      #google_play.grid_4.push_8
        %a{:href => "#"}
          %img{:src => "img/google_play.png"}
      
      .clear
      
      .spacer_bottom.grid_24   
      
      #bottom_links.grid_24
        %a{:href => "#"} About 
        |
        %a{:href => "#"} Careers
        |
        %a{:href => "#"} Contact
        |
        %a{:href => "#"} API

      #copyright.grid_24
        SmartFridge &copy; 2012&nbsp;&nbsp;|&nbsp;&nbsp;Designed by Isaac Liu


    
    #shopping_list.hide{:title => "Shopping List"}

    #alerts_list.hide{:title => "Alerts"}
      
    #add_dialog.hide{:title => "Add Items"}  
    
    #item_dialog.hide{:title => "Milk"}  
    
/#body
/#{::Haml::Engine.new(File.read('src/haml/logger.html.haml'), instance_variable_get(:@haml_buffer).options).render}
